* {
  padding: 0; }

body {
  color: #565656;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'ralewayregular', Arial, sans-serif; }
  body.navigation-open {
    overflow: hidden; }
  body .row {
    margin: 0; }

@font-face {
  font-family: 'ralewayblack';
  src: url("../fonts/raleway-black-webfont.woff2") format("woff2"), url("../fonts/raleway-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaysemibold';
  src: url("../fonts/raleway-semibold-webfont.woff2") format("woff2"), url("../fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
a {
  color: #e5007d; }
  a:hover, a:focus {
    color: #4db0e1;
    opacity: 1;
    text-decoration: none; }

p {
  margin-bottom: 4rem; }

h1 {
  font-size: 2.6rem;
  font-family: 'ralewaysemibold', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5rem;
  text-align: center; }

h2 {
  color: white;
  font-family: 'ralewayblack', Arial, sans-serif;
  font-size: 2.6rem; }
  @media (min-width: 992px) {
    h2 {
      color: #565656; } }

h3 {
  font-size: 1.8rem;
  font-family: 'ralewaysemibold', Arial, sans-serif;
  color: #e5007d; }

.desktop-nav {
  display: none; }
  @media (min-width: 992px) {
    .desktop-nav {
      float: left;
      width: 17rem;
      height: 100vh;
      overflow-y: scroll;
      display: block; }
      .desktop-nav ul {
        list-style: none; }
        .desktop-nav ul li {
          border-bottom: #459eca;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
          border-width: 0.2rem;
          border-style: solid;
          border-top: none;
          border-left: none;
          border-right: none;
          padding: 4rem 0; }
          .desktop-nav ul li:last-child {
            border-bottom: none; }
          .desktop-nav ul li:hover {
            background: #37a6dd; }
          .desktop-nav ul li.current {
            background: linear-gradient(135deg, rgba(77, 176, 225, 0.5) 0%, transparent 100%), #e5007d; }
            .desktop-nav ul li.current:hover {
              background: #e2007c; }
          .desktop-nav ul li img {
            width: 4rem;
            align-self: center; }
      .desktop-nav a {
        color: white;
        font-family: 'ralewaysemibold', Arial, sans-serif;
        font-size: 1.8rem;
        opacity: 1;
        align-self: center;
        line-height: inherit;
        padding-top: 1rem; } }

nav {
  background-color: #4db0e1; }
  nav a {
    color: white;
    font-family: 'ralewaysemibold', Arial, sans-serif;
    font-size: 2.6rem;
    line-height: 9rem;
    opacity: .5; }
  nav .navbar-toggle {
    position: absolute;
    right: 2rem;
    display: block;
    width: 2rem;
    padding: 0;
    background-color: transparent;
    border: none;
    z-index: 9; }
    @media (min-width: 992px) {
      nav .navbar-toggle {
        display: none; } }
    nav .navbar-toggle span {
      display: block;
      height: .3rem;
      background-color: white;
      margin-bottom: .5rem; }
    nav .navbar-toggle span:nth-child(1) {
      width: 3rem; }
    nav .navbar-toggle span:nth-child(2) {
      width: 2.5rem; }
    nav .navbar-toggle span:nth-child(3) {
      width: 2rem; }
  nav .hamburger-nav {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: #1e3145;
    list-style: none;
    z-index: 8;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0; }
    nav .hamburger-nav .current-mobile {
      opacity: 1; }
    nav .hamburger-nav.visible {
      display: flex; }

.wrapper {
  width: 100vw;
  height: 100vh; }
  .wrapper img {
    width: 100%;
    height: auto; }
  .wrapper.landtagswahlen {
    background: url("../img/landtagswahlen_bg.png") #4db0e1;
    background-position: right;
    background-repeat: no-repeat; }

.container-full {
  background: white;
  max-width: 1920px; }

main {
  height: 100vh; }
  @media (min-width: 992px) {
    main {
      overflow: scroll; } }

.main-content {
  padding: 2rem 5rem; }
  @media (min-width: 992px) {
    .main-content {
      padding: 0 10rem; } }
  .main-content .content-flex {
    display: flex;
    flex-direction: column; }
    @media (min-width: 992px) {
      .main-content .content-flex {
        flex-direction: row; }
        .main-content .content-flex article {
          width: 50%; }
          .main-content .content-flex article:first-child {
            padding-right: 4rem; } }
  .main-content .sonntagsfrage-flex form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    @media (min-width: 768px) {
      .main-content .sonntagsfrage-flex form {
        flex-direction: row; } }
  .main-content .sonntagsfrage-flex img {
    width: 75%;
    margin: 1rem auto;
    display: block; }
  .main-content .sonntagsfrage-flex .partei-box {
    align-self: center;
    width: 25%;
    max-width: 30rem;
    background-color: transparent;
    border: 0.1rem solid #eee;
    margin: 1.5rem;
    border-radius: .2rem;
    width: 25rem; }
    .main-content .sonntagsfrage-flex .partei-box.-aktiv {
      border: 0.1rem solid #e5007d; }
  .main-content .sonntagsfrage-flex input[type="radio"] {
    display: block;
    margin: 3rem auto 1rem; }
  .main-content .sonntagsfrage-flex label {
    color: #565656;
    text-align: center;
    padding: 2rem;
    display: block; }
  .main-content .sonntagsfrage-flex .submit {
    margin: 2rem auto;
    width: 100%; }
  .main-content .btn {
    color: white;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    padding: 1rem;
    font-size: 1.8rem;
    margin: 1rem auto 4rem auto;
    background: linear-gradient(135deg, rgba(77, 176, 225, 0.5) 0%, transparent 100%), #e5007d;
    font-family: 'ralewaysemibold', Arial, sans-serif; }
    .main-content .btn:focus, .main-content .btn:hover {
      color: white; }
    @media (min-width: 992px) {
      .main-content .btn:hover {
        background: #e2007c;
        color: white; } }
  .main-content button {
    color: white;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    margin: 1rem auto 4rem auto;
    background: linear-gradient(135deg, rgba(77, 176, 225, 0.5) 0%, transparent 100%), #e5007d;
    font-family: 'ralewaysemibold', Arial, sans-serif;
    outline: none; }
    .main-content button:focus, .main-content button:hover {
      color: white; }
    @media (min-width: 992px) {
      .main-content button:hover {
        background: #e2007c;
        color: white; } }

header {
  background: #1e3145;
  padding: 2rem 0;
  margin-bottom: 3rem; }
  @media (min-width: 992px) {
    header {
      background: white; } }
  header .header-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center; }
    header .header-flex .logo {
      order: 1; }
    header .header-flex .heading1 {
      order: 2; }
    header .header-flex .heading2 {
      order: 3; }
    @media (min-width: 992px) {
      header .header-flex {
        flex-direction: row;
        justify-content: space-around; }
        header .header-flex .logo {
          order: 2; }
        header .header-flex .heading1 {
          order: 1; }
        header .header-flex .heading2 {
          order: 3; } }
    header .header-flex svg {
      width: 50%; }
      header .header-flex svg .st0, header .header-flex svg .st1, header .header-flex svg .st2 {
        fill: white; }
      @media (min-width: 768px) {
        header .header-flex svg {
          width: 15%; } }
      @media (min-width: 992px) {
        header .header-flex svg .st0 {
          fill: #565656; }
        header .header-flex svg .st1 {
          fill: #e5007d; }
        header .header-flex svg .st2 {
          fill: #4db0e1; } }

.graph-svg {
  display: none; }
  @media (min-width: 768px) {
    .graph-svg {
      display: block;
      width: 100%; }
      .graph-svg .graph1, .graph-svg .graph2 {
        stroke-width: 2;
        stroke-miterlimit: 10;
        fill: none; }
      .graph-svg .graph1 {
        stroke: #e5007d; }
      .graph-svg .graph2 {
        stroke: #4db0e1; } }

/* TAB-NAVIGATION */
.tab-nav {
  width: 100%; }
  .tab-nav ul {
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .tab-nav a {
    text-decoration: none;
    color: white;
    padding: 4rem 2rem; }
    .tab-nav a:hover {
      color: white; }
  .tab-nav li {
    background: #4db0e1; }
    .tab-nav li:hover {
      background: #37a6dd; }
  .tab-nav .selected {
    background: linear-gradient(135deg, rgba(77, 176, 225, 0.5) 0%, transparent 100%), #e5007d !important; }
    .tab-nav .selected a {
      color: white; }

.tabcontents p {
  margin-bottom: 2rem; }

/* HELPERCLASS CLEARFIX */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.ausgabe-flex .diagramm {
  color: #fff;
  padding: 1.5rem;
  animation: move 2s ease-in-out; }
@keyframes move {
  from {
    width: 0; }
  to {
    width: 100%; } }
.ausgabe-flex .diagramm-linke {
  background: #DC0000; }
.ausgabe-flex .diagramm-spd {
  background: #FE0000; }
.ausgabe-flex .diagramm-gruenen {
  background: #1FA12D; }
.ausgabe-flex .diagramm-fdp {
  background: #FBEB2C; }
.ausgabe-flex .diagramm-cdu {
  background: #000; }
.ausgabe-flex .diagramm-afd {
  background: #009EE0; }

/*# sourceMappingURL=main.css.map */
