body {
  color: #565656;
  font-size: 2.1rem;
  line-height: 3rem;
  font-family: 'ralewayregular', Arial, sans-serif; }
  body .row {
    margin: 0; }

@font-face {
  font-family: 'ralewayblack';
  src: url("../fonts/raleway-black-webfont.woff2") format("woff2"), url("../fonts/raleway-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaysemibold';
  src: url("../fonts/raleway-semibold-webfont.woff2") format("woff2"), url("../fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
a {
  color: #e5007d; }
  a:hover, a:focus {
    color: #4db0e1;
    text-decoration: none; }

p {
  margin-bottom: 25px; }

h1 {
  color: white;
  font-family: 'ralewayblack', Arial, sans-serif;
  font-size: 2.6rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 3.6rem;
      text-align: left; } }
  @media (min-width: 992px) {
    h1 {
      color: #565656; } }

h2, h3 {
  font-size: 3.6rem;
  font-family: 'ralewaysemibold', Arial, sans-serif;
  text-transform: uppercase; }

h2 {
  margin-bottom: 5rem;
  text-align: center; }

img {
  max-width: 100%; }

nav {
  background-color: #4db0e1; }
  nav .navbar-toggle {
    position: absolute;
    right: 2rem;
    display: block;
    height: 5rem;
    width: 2rem;
    padding: 1.25rem 0 2rem;
    background-color: transparent;
    border: none;
    z-index: 1; }
    @media (min-width: 992px) {
      nav .navbar-toggle {
        display: none; } }
    nav .navbar-toggle span {
      display: block;
      height: .2rem;
      background-color: white;
      margin-bottom: .5rem; }
    nav .navbar-toggle span:nth-child(1) {
      width: 3rem; }
    nav .navbar-toggle span:nth-child(2) {
      width: 2.5rem; }
    nav .navbar-toggle span:nth-child(3) {
      width: 2rem; }
  nav .hamburger-nav {
    display: none; }
    nav .hamburger-nav.visible {
      display: block; }
    @media (min-width: 992px) {
      nav .hamburger-nav {
        display: block; }
        nav .hamburger-nav .icon {
          color: white; } }

.container-full {
  width: 100vw;
  height: 100vh; }

.container {
  width: 100%;
  padding-top: 0; }
  .container svg {
    display: none; }
  @media (min-width: 768px) {
    .container svg {
      display: block; }
      .container svg .graph1, .container svg .graph2 {
        stroke-width: 2;
        stroke-miterlimit: 10;
        fill: none; }
      .container svg .graph1 {
        stroke: #e5007d; }
      .container svg .graph2 {
        stroke: #4db0e1; } }
  @media (min-width: 992px) {
    .container {
      padding-top: 20rem; } }

header {
  background-color: #4db0e1;
  padding: 2rem 0;
  margin-bottom: 3rem; }
  @media (min-width: 992px) {
    header {
      position: fixed;
      z-index: 1;
      width: 100%;
      top: 0;
      background: linear-gradient(to bottom, white 75%, transparent 100%); } }
  header svg {
    width: 50%; }
    header svg .st0, header svg .st1, header svg .st2 {
      fill: white; }
  @media (min-width: 768px) {
    header svg {
      width: 100%; } }
  @media (min-width: 992px) {
    header svg .st0 {
      fill: #565656; }
    header svg .st1 {
      fill: #e5007d; }
    header svg .st2 {
      fill: #4db0e1; } }

.btn {
  color: white;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  padding: 1rem;
  font-size: 1.75rem;
  margin: 1rem auto 4rem auto;
  background: linear-gradient(135deg, rgba(77, 176, 225, 0.5) 0%, transparent 100%), #e5007d;
  font-family: 'ralewaysemibold', Arial, sans-serif; }
  .btn:focus, .btn:hover {
    color: white; }
  @media (min-width: 992px) {
    .btn:hover {
      background: #e2007c;
      color: white; } }

/*# sourceMappingURL=main.css.map */
