body {
  color: #565656;
  font-size: 2.1rem;
  line-height: 2.8rem;
  font-family: 'ralewayregular', Arial, sans-serif; }

@font-face {
  font-family: 'ralewayblack';
  src: url("../fonts/raleway-black-webfont.woff2") format("woff2"), url("../fonts/raleway-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaysemibold';
  src: url("../fonts/raleway-semibold-webfont.woff2") format("woff2"), url("../fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3 {
  font-family: 'ralewaysemibold', Arial, sans-serif;
  font-size: 2.5rem; }

h2, h3 {
  text-transform: uppercase; }

h2 {
  margin-bottom: 5rem;
  text-align: center; }

img {
  max-width: 100%; }

nav.container-full {
  display: none; }

nav {
  background-color: #1e3145; }
  nav .navbar-toggle {
    position: absolute;
    right: 2rem;
    display: block;
    height: 5rem;
    width: 5rem;
    padding: 1.25rem 0 2rem;
    background-color: transparent;
    border: none; }
    @media (min-width: 992px) {
      nav .navbar-toggle {
        display: none; } }
    nav .navbar-toggle span {
      display: block;
      height: .2rem;
      background-color: white;
      margin-bottom: .5rem; }
    nav .navbar-toggle span:nth-child(1) {
      width: 3rem; }
    nav .navbar-toggle span:nth-child(2) {
      width: 2.5rem; }
    nav .navbar-toggle span:nth-child(3) {
      width: 2rem; }
  nav .hamburger-nav {
    display: none; }
    @media (min-width: 992px) {
      nav .hamburger-nav {
        display: block; }
        nav .hamburger-nav .icon {
          color: white; } }

header {
  background-color: #1e3145;
  padding: 4rem 0;
  margin-bottom: 3rem; }
  @media (min-width: 992px) {
    header {
      position: fixed;
      z-index: 1;
      width: 100%;
      top: 0;
      background: linear-gradient(to bottom, white 75%, transparent 100%); } }
  header .container {
    display: flex; }
    header .container svg {
      width: 100%; }
      header .container svg .st0, header .container svg .st1, header .container svg .st2 {
        fill: white; }
    @media (min-width: 992px) {
      header .container {
        justify-content: space-around; }
        header .container svg .st0 {
          fill: #565656; }
        header .container svg .st1 {
          fill: #e5007d; }
        header .container svg .st2 {
          fill: #4db0e1; } }
  @media (min-width: 992px) {
    header ._subheadline {
      order: 1; }
    header ._logo {
      order: 2; }
    header ._headline {
      order: 3; } }
  header ._headline, header ._subheadline {
    color: white;
    font-size: 2.5rem;
    width: 100%; }
    @media (min-width: 992px) {
      header ._headline, header ._subheadline {
        color: #565656; } }
  header ._subheadline {
    font-weight: 300; }

.-landtagswahlen {
  padding-top: 20rem; }

.btn {
  color: white;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  padding: 1rem;
  font-size: 1.75rem;
  margin: 4rem auto;
  background: linear-gradient(135deg, rgba(77, 176, 225, 0.5) 0%, transparent 100%), #e5007d; }

/*# sourceMappingURL=main.css.map */
