$primary-color: #4db0e1;
$secondary-color: #1e3145;
$highlight-color: #e5007d;
$navi-color: #459eca;
$text-color: #565656;
$light-gray: #eee;

$color-gradient: linear-gradient(135deg, rgba(77, 176, 225, .5) 0%, transparent 100%);
$white-gradient: linear-gradient(to bottom, white 75%, transparent 100%);

$fliestext: 1.8rem;
$headline: 2.6rem;
$navi-font: 2.6rem;
$navi-font-desktop: 1.8rem;

$screen-tablet: 768px;
$screen-laptop: 992px;
$screen-desktop: 1280px;

* {
	padding: 0;
}

body {
	color: $text-color;
	font-size: $fliestext;
	line-height: 3rem;
	font-family: 'ralewayregular', Arial, sans-serif;

	&.navigation-open {
		overflow: hidden;
	}

	.row {
		margin: 0;
	}
}

@font-face {
	font-family: 'ralewayblack';
	src: url('../fonts/raleway-black-webfont.woff2') format('woff2'),
	url('../fonts/raleway-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ralewayregular';
	src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
	url('../fonts/raleway-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ralewaysemibold';
	src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
	url('../fonts/raleway-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

a {
	color: $highlight-color;

	&:hover, &:focus {
		color: $primary-color;
		opacity: 1;
		text-decoration: none;
	}
}

p {
	margin-bottom: 4rem;
}

h1 {
	font-size: $headline;
	font-family: 'ralewaysemibold', Arial, sans-serif;
	text-transform: uppercase;
	margin-bottom: 5rem;
	text-align: center;
}

h2 {
	color: white;
	font-family: 'ralewayblack', Arial, sans-serif;
	font-size: $headline;

	@media (min-width: $screen-laptop) {
		color: $text-color;
	}
}

h3 {
	font-size: 1.8rem;
	font-family: 'ralewaysemibold', Arial, sans-serif;
	color: $highlight-color;
}


.desktop-nav {
	display: none;

	@media (min-width: $screen-laptop) {

		float: left;
		width: 17rem;
		height: 100vh;
		overflow-y: scroll;
		display: block;

		ul {
			list-style: none;

			li {
				border-bottom: $navi-color;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: stretch;
				border-width: 0.2rem;
				border-style: solid;
				border-top: none;
				border-left: none;
				border-right: none;
				padding: 4rem 0;

				&:last-child {
					border-bottom: none;
				}

				&:hover {
					background: darken($primary-color, 5%);
				}

				&.current {
					background: $color-gradient, $highlight-color;

					&:hover {
						background: darken($highlight-color, .5%);
					}
				}

				img {
					width: 4rem;
					align-self: center;
				}
			}
		}

		a {
			color: white;
			font-family: 'ralewaysemibold', Arial, sans-serif;
			font-size: $navi-font-desktop;
			opacity: 1;
			align-self: center;
			line-height: inherit;
			padding-top: 1rem;
		}
	}
}

nav {
	background-color: $primary-color;

	a {
		color: white;
		font-family: 'ralewaysemibold', Arial, sans-serif;
		font-size: $navi-font;
		line-height: 9rem;
		opacity: .5;
	}

	.navbar-toggle {
		position: absolute;
		right: 2rem;
		display: block;
		width: 2rem;
		padding: 0;
		background-color: transparent;
		border: none;
		z-index: 9;

		&.close-navigation {
			position: relative;
			margin-top: 1.5rem;

			span {
				display: block;
				height: .3rem;
				background-color: white;
				margin-bottom: .5rem;
				position: absolute;
			}

			span:nth-child(1) {
				width: 3rem;
				transform: rotate(-45deg);
			}
			span:nth-child(2) {
				width: 2.5rem;
				opacity: 0;
			}
			span:nth-child(3) {
				width: 3rem;
				transform: rotate(45deg);
			}

		}

		@media (min-width: $screen-laptop) {
			display: none;
		}

		span {
			display: block;
			height: .3rem;
			background-color: white;
			margin-bottom: .5rem;
			transition: all .3s ease;
		}

		span:nth-child(1) {
			width: 3rem;
		}
		span:nth-child(2) {
			width: 2.5rem;
		}
		span:nth-child(3) {
			width: 2rem;
		}
	}

	.hamburger-nav {
		display: none;
		position: fixed;
		height: 100vh;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		background: $secondary-color;
		list-style: none;
		z-index: 8;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		padding: 2rem 0;

		.current-mobile {
			opacity: 1;
		}

		&.visible {
			display: flex;
		}
	}
}

.wrapper {
	width: 100vw;
	height: 100vh;

	img {
		width: 100%;
		height: auto;
	}

	&.landtagswahlen {
		background: url("../img/landtagswahlen_bg.png") $primary-color;
		background-position: right;
		background-repeat: no-repeat;
	}

	&.impressum {
		background: url("../img/impressum_bg.png") $primary-color;
		background-position: right;
		background-repeat: no-repeat;
	}

	&.politik-abc {
		background: url("../img/politik-abc_bg.png") $primary-color;
		background-position: right;
		background-repeat: no-repeat;
	}

	&.sonntagsfrage {
		background: url("../img/sonntagsfrage_bg.png") $primary-color;
		background-position: right;
		background-repeat: no-repeat;
	}

	&.warum-waehlen {
		background: url("../img/warum-waehlen_bg.png") $primary-color;
		background-position: right;
		background-repeat: no-repeat;
	}

	&.parteiprogramme {
		background: url("../img/parteiprogramme_bg.png") $primary-color;
		background-position: right;
		background-repeat: no-repeat;
	}
}

.container-full {
	background: white;
	max-width: 1920px;
}

main {
	height: 100vh;

	@media (min-width: $screen-laptop) {
		overflow: scroll;
	}
}

.main-content {
	padding: 2rem 5rem;


	@media (min-width: $screen-laptop) {
		padding: 0 10rem;
	}

	.content-flex {
		display: flex;
		flex-direction: column;

		@media (min-width: $screen-laptop) {
			flex-direction: row;

			article {
				flex: 1;
				padding-right: 4rem;

			}
		}
	}

	.sonntagsfrage-flex {

		form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			//max-width: 100%;

			@media (min-width: $screen-tablet) {
				flex-direction: row;
			}
		}

		img {
			width: 75%;
			margin: 1rem auto;
			display: block;
		}

		.partei-box {
			align-self: center;
			width: 25%;
			max-width: 30rem;
			background-color: transparent;
			border: .1rem solid $light-gray;
			margin: 1.5rem;
			border-radius: .2rem;
			width: 25rem;
		}

		input[type="radio"] {
			display: block;
			margin: 3rem auto 1rem;
		}

		label {
			text-align: center;
			padding: 2rem;
			display: block;
		}

		.submit {
			margin: 2rem auto;
			width: 100%;

		}

	}

	.btn {
		color: white;
		text-transform: uppercase;
		border-radius: 0;
		border: none;
		padding: 1rem;
		font-size: $fliestext;
		margin: 1rem auto 4rem auto;
		background: $color-gradient, $highlight-color;
		font-family: 'ralewaysemibold', Arial, sans-serif;

		&:focus, &:hover {
			color: white;
		}

		@media (min-width: $screen-laptop) {
			&:hover {
				background: darken($highlight-color, .5%);
				color: white;
			}
		}
	}

	button {
		color: white;
		text-transform: uppercase;
		border-radius: 0;
		border: none;
		padding: 0.5rem 1rem;
		font-size: $fliestext;
		margin: 1rem auto 4rem auto;
		background: $color-gradient, $highlight-color;
		font-family: 'ralewaysemibold', Arial, sans-serif;
		outline: none;

		&:focus, &:hover {
			color: white;
		}

		@media (min-width: $screen-laptop) {
			&:hover {
				background: darken($highlight-color, .5%);
				color: white;
			}
		}

	}
}

header {
	background: $secondary-color;
	padding: 2rem 0;
	margin-bottom: 3rem;

	@media (min-width: $screen-laptop) {
		background: white;
	}

	.header-flex {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;

		.logo {
			order: 1;
		}
		.heading1 {
			order: 2;
		}
		.heading2 {
			order: 3;
		}

		@media (min-width: $screen-laptop) {
			flex-direction: row;
			justify-content: space-around;

			.logo {
				order: 2;
			}
			.heading1 {
				order: 1;

			}
			.heading2 {
				order: 3;
			}

		}
		svg {
			width: 50%;

			.st0, .st1, .st2 {
				fill: white;
			}

			@media (min-width: $screen-laptop) {

				.st0 {
					fill: $text-color;
				}
				.st1 {
					fill: $highlight-color;
				}
				.st2 {
					fill: $primary-color;
				}
			}
		}
	}
}

.graph-svg {
	display: none;

	@media (min-width: $screen-tablet) {
		display: block;
		width: 100%;
		.graph1, .graph2 {
			stroke-width: 2;
			stroke-miterlimit: 10;
			fill: none;
		}
		.graph1 {
			stroke: $highlight-color;
		}
		.graph2 {
			stroke: $primary-color;
		}
	}
}

	/* TAB-NAVIGATION */

	.tab-nav {


		width: 100%;

		ul {
			list-style: none;
			flex-direction: row;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		a {
			text-decoration: none;
			color: white;
			padding: 4rem 2rem;

			&:hover {color: white;}
		}

		li {
			background: $primary-color;
			border-bottom: .3rem solid $navi-color;
			min-width: 10rem;
			text-align: center;
			border-right: .1rem solid $light-gray;
			margin-top: 1rem;

			&:last-of-type {
				border-right: none;
			}

			&:hover {background: darken($primary-color, 5%);}
		}

	.selected {
		background: $color-gradient, $highlight-color !important;
		border-bottom-color: $highlight-color;

		a {
			color: white;
		}
	}
}

.tabcontents {
	p {
		margin-bottom: 2rem;
	}
}

/* HELPERCLASS CLEARFIX */

.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.ausgabe-flex {

.diagramm {
	color: #fff;
	padding: 1.5rem;
	animation: move 1.5s ease-in-out;

	@keyframes move {
		from {
			width: 0;
		}
	}
}

.diagramm-linke {background: #DC0000;}
.diagramm-spd {background: #FE0000;}
.diagramm-gruenen {background: #1FA12D;}
.diagramm-fdp {background: #FBEB2C;}
.diagramm-cdu {background: #000;}
.diagramm-afd {background: #009EE0;}
}

.message {
	&.-ergebnis {
		margin: 2rem 0;
		border-top: .1rem solid $light-gray;
		padding-top: 2rem;

		span {
			font-weight: bold;
			color: $highlight-color;
		}
	}
}

.card-container {
	display: flex;
	flex-direction: column;

	@media (min-width: $screen-laptop) {
		flex-direction: row;
	}

	.card {
		flex: 1;
		padding: 2.5rem;
		margin: 1rem;
		color: white;
		background-color: $primary-color;

		blockquote {
			text-transform: uppercase;
			font-family: 'ralewaysemibold', Arial, sans-serif;
			font-size: 2.1rem;
			position: relative;
			padding-left: 5rem;
		}

		blockquote::before {
			content: "\201D";
			font-size: 7rem;
			display: block;
			position: absolute;
			left: 1.5rem;
		}
	}
}
