@charset "utf-8";
/* CSS Document */

.diagramm {
  color: #fff;
  padding: 15px;

}

.diagramm-linke {
  background: #DC0000;
}
.diagramm-spd {background: #FE0000;}
.diagramm-gruenen {background: #1FA12D;}
.diagramm-fdp {background: #FBEB2C;}
.diagramm-cdu {background: #000;}
.diagramm-afd {background: #009EE0;}
